In [ ]:
import pandas as pd
import tensorflow as tf
import sklearn

In [ ]:
df = pd.read_excel("/content/S1 Table_TRM_20200923.xlsx", header=None)

In [ ]:
df.head(15)

                                                   0   ...        22
0   S1 Table. Data set of recipients with TRM afte...  ...       NaN
1                                             Patient  ...  Platelet
2                                        Kidney_mor_1  ...       274
3                                        Kidney_mor_2  ...       159
4                                        Kidney_mor_3  ...       112
5                                        Kidney_mor_4  ...       164
6                                        Kidney_mor_5  ...       144
7                                        Kidney_mor_6  ...        14
8                                        Kidney_mor_7  ...       123
9                                        Kidney_mor_8  ...        14
10                                       Kidney_mor_9  ...        15
11                                      Kidney_mor_10  ...       256
12                                      Kidney_mor_11  ...        26
13                                      Kidney_mor_12  ...        21
14                                      Kidney_mor_13  ...       254

[15 rows x 23 columns]

In [ ]:
df = df.drop(0)
df = df.drop(16, axis=1)

In [ ]:
new_header = df.iloc[0] 
df = df[1:] 
df.columns = new_header

In [ ]:
df

1                                              Patient  Age  ... Hematocrit Platelet
2                                         Kidney_mor_1   39  ...       19.2      274
3                                         Kidney_mor_2   56  ...       28.2      159
4                                         Kidney_mor_3   40  ...       24.2      112
5                                         Kidney_mor_4   37  ...         29      164
6                                         Kidney_mor_5   67  ...       31.1      144
..                                                 ...  ...  ...        ...      ...
801                                     Kidney_mor_800   31  ...       25.2      367
802                                     Kidney_mor_801   57  ...       29.6       28
803                                     Kidney_mor_802   46  ...         28      222
804                                     Kidney_mor_803   59  ...       36.1       23
805  Abbreviations: TPM, treatment-related mortalit...  NaN  ...        NaN      NaN

[804 rows x 22 columns]

In [ ]:
df["Target"] = df["Survival days after transplantation"]

In [ ]:
df

1                                              Patient  Age  ... Platelet Target
2                                         Kidney_mor_1   39  ...      274     73
3                                         Kidney_mor_2   56  ...      159     46
4                                         Kidney_mor_3   40  ...      112      9
5                                         Kidney_mor_4   37  ...      164     17
6                                         Kidney_mor_5   67  ...      144     82
..                                                 ...  ...  ...      ...    ...
801                                     Kidney_mor_800   31  ...      367      3
802                                     Kidney_mor_801   57  ...       28      2
803                                     Kidney_mor_802   46  ...      222      5
804                                     Kidney_mor_803   59  ...       23      2
805  Abbreviations: TPM, treatment-related mortalit...  NaN  ...      NaN    NaN

[804 rows x 23 columns]

In [ ]:
df = df.drop("Survival days after transplantation", axis=1)

In [ ]:
df = df.drop("Patient", axis=1)

In [ ]:
df

1    Age     Sex Weight     Donor  ... Hemoglobin Hematocrit Platelet Target
2     39  Female     45  Deceased  ...       11.4       19.2      274     73
3     56    Male     65    Living  ...        9.1       28.2      159     46
4     40    Male     52  Deceased  ...        9.7       24.2      112      9
5     37    Male     51    Living  ...        9.7         29      164     17
6     67    Male     50  Deceased  ...        8.8       31.1      144     82
..   ...     ...    ...       ...  ...        ...        ...      ...    ...
801   31    Male     67    Living  ...       12.3       25.2      367      3
802   57    Male     69    Living  ...       11.8       29.6       28      2
803   46    Male     80    Living  ...        1.8         28      222      5
804   59  Female     48    Living  ...       11.8       36.1       23      2
805  NaN     NaN    NaN       NaN  ...        NaN        NaN      NaN    NaN

[804 rows x 21 columns]

In [ ]:
df = df.drop(805)

In [ ]:
#Dropping retrasplant for mixed values

df = df.drop("Retrasplant", axis=1)

In [ ]:
df.dtypes

1
Age                  object
Sex                  object
Weight               object
Donor                object
ABO compatibility    object
BUN                  object
Creatinine           object
Glucose              object
Albumin              object
Protein              object
SGOT                 object
SGPT                 object
 Total bilirubin     object
K                    object
CI                   object
WBC                  object
Hemoglobin           object
Hematocrit           object
Platelet             object
Target               object
dtype: object

In [ ]:
df

1   Age     Sex Weight     Donor  ... Hemoglobin Hematocrit Platelet Target
2    39  Female     45  Deceased  ...       11.4       19.2      274     73
3    56    Male     65    Living  ...        9.1       28.2      159     46
4    40    Male     52  Deceased  ...        9.7       24.2      112      9
5    37    Male     51    Living  ...        9.7         29      164     17
6    67    Male     50  Deceased  ...        8.8       31.1      144     82
..   ..     ...    ...       ...  ...        ...        ...      ...    ...
800  45    Male     62    Living  ...       11.6         36      272      5
801  31    Male     67    Living  ...       12.3       25.2      367      3
802  57    Male     69    Living  ...       11.8       29.6       28      2
803  46    Male     80    Living  ...        1.8         28      222      5
804  59  Female     48    Living  ...       11.8       36.1       23      2

[803 rows x 20 columns]

In [ ]:
df = df.infer_objects()

In [ ]:
df['Sex'] = pd.Categorical(df['Sex'])
df['Sex'] = df.Sex.cat.codes

In [ ]:
df['ABOcompatibility'] = pd.Categorical(df['ABO compatibility'])
df['ABO compatibility'] = df.ABOcompatibility.cat.codes

In [ ]:
df['Donor'] = pd.Categorical(df['Donor'])
df['Donor'] = df.Donor.cat.codes

In [ ]:
df = df.drop("ABOcompatibility", axis=1)

In [ ]:
df['Target'] = [1 if x > 30 else 0 for x in df["Target"]]

In [ ]:
df.Target.unique()

array([1, 0])

In [ ]:
val_dataframe = df.sample(frac=0.2, random_state=1337)
train_dataframe = df.drop(val_dataframe.index)

In [ ]:
train_dataframe.dtypes

1
Age                    int64
Sex                     int8
Weight                 int64
Donor                   int8
ABO compatibility       int8
BUN                  float64
Creatinine           float64
Glucose                int64
Albumin              float64
Protein              float64
SGOT                 float64
SGPT                 float64
 Total bilirubin     float64
K                    float64
CI                   float64
WBC                  float64
Hemoglobin           float64
Hematocrit           float64
Platelet               int64
Target                 int64
dtype: object

In [ ]:
import numpy as np
import xgboost as xgb
from xgboost.sklearn import XGBClassifier
from sklearn.model_selection import cross_validate, GridSearchCV
from sklearn import metrics 
import matplotlib.pyplot as plt
from sklearn.feature_selection import SelectPercentile, f_classif
from sklearn.model_selection import train_test_split
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn import svm

In [ ]:
val_dataframe.dtypes

1
Age                    int64
Sex                     int8
Weight                 int64
Donor                   int8
ABO compatibility       int8
BUN                  float64
Creatinine           float64
Glucose                int64
Albumin              float64
Protein              float64
SGOT                 float64
SGPT                 float64
 Total bilirubin     float64
K                    float64
CI                   float64
WBC                  float64
Hemoglobin           float64
Hematocrit           float64
Platelet               int64
Target                 int64
dtype: object

In [ ]:
def modelfit(alg, dtrain, predictors, useTrainCV=True, cv_folds=5, early_stopping_rounds=50):
    
    if useTrainCV:
        xgb_param = alg.get_xgb_params()
        xgtrain = xgb.DMatrix(dtrain[predictors].values, label=dtrain["Target"].values)
        cvresult = xgb.cv(xgb_param, xgtrain, num_boost_round=alg.get_params()['n_estimators'], nfold=cv_folds,
            metrics='auc', early_stopping_rounds=early_stopping_rounds)
        alg.set_params(n_estimators=cvresult.shape[0])
    
    #Fit the algorithm on the data
    alg.fit(dtrain[predictors], dtrain['Target'],eval_metric='auc')
        
    #Predict training set:
    dtrain_predictions = alg.predict(dtrain[predictors])
    dtrain_predprob = alg.predict_proba(dtrain[predictors])[:,1]
        
    #Print model report:
    print("\nModel Report")
    print("Accuracy : %.4g" % metrics.accuracy_score(dtrain['Target'].values, dtrain_predictions))
    print("AUC Score (Train): %f" % metrics.roc_auc_score(dtrain['Target'], dtrain_predprob))


xgb1 = XGBClassifier(
 learning_rate =0.001,
 n_estimators=100,
 max_depth=9,
 min_child_weight=1,
 gamma=0,
 subsample=0.8,
 colsample_bytree=0.8,
 objective= 'binary:logistic',
 nthread=4,
 scale_pos_weight=1, 
 seed=27)

In [ ]:


predictors = [x for x in df.columns if x not in ["Target", "Sex",]]

#modelfit(xgb1, train_dataframe, predictors)

exported_pipeline = make_pipeline(
    #SelectPercentile(score_func=f_classif, percentile=87),
    StandardScaler(),
    XGBClassifier(
 learning_rate =0.00001,
 n_estimators=100,
 max_depth=2,
 min_child_weight=1,
 gamma=0,
 subsample=0.8,
 colsample_bytree=0.8,
 objective= 'binary:logistic',
 nthread=4,
 scale_pos_weight=1, 
 seed=27)

)

exported_pipeline.fit(train_dataframe[predictors].values, train_dataframe["Target"].values)
results = exported_pipeline.predict(new_val_dataframe.values)
#modelfit(xgb1, train_dataframe, predictors)

In [ ]:
svc = svm.SVC(kernel='rbf', C=5, gamma=2, )
svm.SVC()
svc.fit(train_dataframe[predictors].values, train_dataframe["Target"].values)

results1 = svc.predict(new_val_dataframe.values)

preds

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1])

In [ ]:
param_test1 = {
 'max_depth':range(3,10,2),
 'min_child_weight':range(1,6,2),
 'learning_rate': [0.1, 0.01, 0.001, 0.0001],
 'n_estimators': [50, 100, 130, 140, 150, 200]
}

gsearch1 = GridSearchCV(estimator = XGBClassifier( learning_rate =0.1, n_estimators=140, max_depth=5,
                        min_child_weight=1, gamma=0, subsample=0.8, colsample_bytree=0.8,
                        objective= 'binary:logistic', nthread=4, scale_pos_weight=1, seed=27), 
                        param_grid = param_test1, scoring='roc_auc',n_jobs=4, cv=5)

gsearch1.fit(train_dataframe[predictors], train_dataframe["Target"])
print(gsearch1.best_params_, gsearch1.best_score_)

In [ ]:
def test(preds, true):

    clean_preds = [np.argmax(x) for x in preds]

    assert len(clean_preds) == len(true), "Unequal arrays"
    
    identity = sum([p == y for p, y in zip(preds, true)]) / len(preds) * 100

    print(f"Validation Accuracy : {identity}")


#xgval = xgb.DMatrix(val_dataframe[predictors].values)

#cols_when_model_builds = xgb1.get_booster().feature_names
#new_val_dataframe = val_dataframe[cols_when_model_builds]

In [ ]:
preds = svc.predict(new_val_dataframe)

In [ ]:
test(preds, val_dataframe["Target"].values)

Validation Accuracy : 59.006211180124225

In [ ]:
!pip install scikit-survival

Collecting scikit-survival
  Downloading https://files.pythonhosted.org/packages/4d/07/10e960674a7d9660f1b19d206ce37afabba0f443d6c72bcc8945d617d890/scikit-survival-0.14.0.tar.gz (2.3MB)
     |████████████████████████████████| 2.3MB 5.3MB/s
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
    Preparing wheel metadata ... done
Requirement already satisfied: pandas>=0.21 in /usr/local/lib/python3.6/dist-packages (from scikit-survival) (1.1.5)
Requirement already satisfied: numexpr in /usr/local/lib/python3.6/dist-packages (from scikit-survival) (2.7.2)
Requirement already satisfied: scipy!=1.3.0,>=1.0 in /usr/local/lib/python3.6/dist-packages (from scikit-survival) (1.4.1)
Requirement already satisfied: scikit-learn<0.24,>=0.22.0 in /usr/local/lib/python3.6/dist-packages (from scikit-survival) (0.22.2.post1)
Requirement already satisfied: cvxopt in /usr/local/lib/python3.6/dist-packages (from scikit-survival) (1.2.5)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from scikit-survival) (1.19.5)
Requirement already satisfied: cvxpy>=1.0 in /usr/local/lib/python3.6/dist-packages (from scikit-survival) (1.0.31)
Requirement already satisfied: osqp!=0.6.0,!=0.6.1 in /usr/local/lib/python3.6/dist-packages (from scikit-survival) (0.6.2)
Requirement already satisfied: joblib in /usr/local/lib/python3.6/dist-packages (from scikit-survival) (1.0.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.21->scikit-survival) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.21->scikit-survival) (2.8.1)
Requirement already satisfied: multiprocess in /usr/local/lib/python3.6/dist-packages (from cvxpy>=1.0->scikit-survival) (0.70.11.1)
Requirement already satisfied: scs>=1.1.3 in /usr/local/lib/python3.6/dist-packages (from cvxpy>=1.0->scikit-survival) (2.1.2)
Requirement already satisfied: ecos>=2 in /usr/local/lib/python3.6/dist-packages (from cvxpy>=1.0->scikit-survival) (2.0.7.post1)
Requirement already satisfied: qdldl in /usr/local/lib/python3.6/dist-packages (from osqp!=0.6.0,!=0.6.1->scikit-survival) (0.1.5.post0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.7.3->pandas>=0.21->scikit-survival) (1.15.0)
Requirement already satisfied: dill>=0.3.3 in /usr/local/lib/python3.6/dist-packages (from multiprocess->cvxpy>=1.0->scikit-survival) (0.3.3)
Building wheels for collected packages: scikit-survival
  Building wheel for scikit-survival (PEP 517) ... done
  Created wheel for scikit-survival: filename=scikit_survival-0.14.0-cp36-cp36m-linux_x86_64.whl size=4056565 sha256=9d3a1d6a615da111f6e6818ee6e2417b932f00f900e99c9b6fda0eca077838d3
  Stored in directory: /root/.cache/pip/wheels/f4/af/94/be84d2dc68a947ad2859b1608f1d57a4328465a0b00b0fb4ac
Successfully built scikit-survival
Installing collected packages: scikit-survival
Successfully installed scikit-survival-0.14.0

In [ ]:
from sksurv.ensemble import RandomSurvivalForest

In [ ]:
estimator = RandomSurvivalForest().fit(train_dataframe[predictors].values, train_dataframe["Target"].values)

ValueError: ignored